@import 'compass/reset';

//Colors
$white: #ecf0f1;
$squareBlue: #2980b9;
$lighterBLue: tint($squareBlue, 50%);


body {
    background: url('../img/background.png');
    font-family: 'Lato', sans-serif;
}

header {
  background-color: rgba($white, 0.75);
  border-bottom: 1px solid rgba($lighterBLue, 0.75);
  font-size: 22px;

  h2 {
    font-size: 24px;
  }
  h3, h2 {
    padding: 5px;
    text-align: center;
  }
  margin-bottom: 25px;
}

$number: 10;
$size: 550px;

h5 {
  margin: 15px auto;
}

@keyframes fade {
  from  {
    height: $size;
    opacity: 1;
  }
  to {
    height: 0px;
    opacity: 0;
  }
}

.game {
    &.fade {
      animation: fade 1s;
      height: 0px;
      border: none;
      opacity: 0;

      * {
        display: none;
      }
    }

    a {
      content: '';
      display: block;
      background-color: $white;
      cursor: default;
    }

    a:visited {
      background-color: $squareBlue;
    }

    width: $size;
    height: $size;
    display: block;
    position: relative;
    margin: auto;
    border: 2px solid rgba($lighterBLue, 0.6);
    background-color: $white;

    .play {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      font-weight: bold;
      text-align: center;
      line-height: $size;
      font-size: 40px;
      background-color: rgba(0,0,0, 0.9);
      z-index: 5;
      position: absolute;
      cursor: pointer;
      color: $white;

      &:hover {
        text-decoration: underline;
      }
    }
}

.reveal {

  max-width: 980px;
  margin: 0 auto;
  display: none;

  font-size: 18px;

  h5 {
    text-align: center;
    font-size: 25px;
  }

  .left {
    width: 66%;
    display: inline-block;
    vertical-align: top;
    p {
      line-height: 30px;
      color: $squareBlue;
      a {
        color: inherit;
      }
      iframe {
        vertical-align: text-bottom;
      }
    }
  }

  .right {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    border-left: 1px solid grey;
  }


  .sites {
    margin-left: 50px;
    a {
      color: black;
      background-color: $white;
      padding: 10px;
      text-decoration: none;
      border-radius: 5px;
      margin: 5px auto;
      display: block;
      font-size: 17px;
      position: relative;

      &:after {
        display: inline-block;
        position: absolute;
        right: 0px; top: 0px; bottom: 0px;
        height: 100%;
        width: 35px;
        text-align: center;
        line-height: 37px;
      }

      &.visited {
        &:after {
          content: "YES";
          background-color: green;
        }
      }

      &:not(.visited) {
        &:after {
          content: "NO";
          background-color: red;
        }
      }


    }
  }
}

@for $i from 0 through $number - 1 {
  @for $j from 0 through $number - 1 {
    a[number='#{$i * 10 + $j}'] {
        position: absolute;
        top: $i * ($size / $number);
        left: $j * ($size / $number);
        width: ($size / $number);
        height: ($size / $number);
    }
  }
}
