/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/style.scss */
body {
  background: url("/img/background.png");
  font-family: 'Lato', sans-serif;
}

/* line 14, ../sass/style.scss */
header {
  background-color: rgba(236, 240, 241, 0.75);
  border-bottom: 1px solid rgba(148, 192, 220, 0.75);
  font-size: 22px;
  margin-bottom: 25px;
}
/* line 19, ../sass/style.scss */
header h2 {
  font-size: 24px;
}
/* line 22, ../sass/style.scss */
header h3, header h2 {
  padding: 5px;
  text-align: center;
}

/* line 32, ../sass/style.scss */
h5 {
  margin: 15px auto;
}

@keyframes fade {
  from {
    height: 550px;
    opacity: 1;
  }
  to {
    height: 0px;
    opacity: 0;
  }
}
/* line 47, ../sass/style.scss */
.game {
  width: 550px;
  height: 550px;
  display: block;
  position: relative;
  margin: auto;
  border: 2px solid rgba(148, 192, 220, 0.6);
  background-color: #ecf0f1;
}
/* line 48, ../sass/style.scss */
.game.fade {
  animation: fade 1s;
  height: 0px;
  border: none;
  opacity: 0;
}
/* line 54, ../sass/style.scss */
.game.fade * {
  display: none;
}
/* line 59, ../sass/style.scss */
.game a {
  content: '';
  display: block;
  background-color: #ecf0f1;
  cursor: default;
}
/* line 66, ../sass/style.scss */
.game a:visited {
  background-color: #2980b9;
}
/* line 78, ../sass/style.scss */
.game .play {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-weight: bold;
  text-align: center;
  line-height: 550px;
  font-size: 40px;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 5;
  position: absolute;
  cursor: pointer;
  color: #ecf0f1;
}
/* line 93, ../sass/style.scss */
.game .play:hover {
  text-decoration: underline;
}

/* line 99, ../sass/style.scss */
.reveal {
  max-width: 980px;
  margin: 0 auto;
  display: none;
  font-size: 18px;
}
/* line 107, ../sass/style.scss */
.reveal h5 {
  text-align: center;
  font-size: 25px;
}
/* line 112, ../sass/style.scss */
.reveal ul {
  list-style: initial;
}
/* line 115, ../sass/style.scss */
.reveal ul li {
  padding: 5px 0px;
}
/* line 120, ../sass/style.scss */
.reveal .left {
  width: 66%;
  display: inline-block;
  vertical-align: top;
}
/* line 126, ../sass/style.scss */
.reveal .right {
  width: 33%;
  display: inline-block;
  vertical-align: top;
  border-left: 1px solid grey;
}
/* line 134, ../sass/style.scss */
.reveal .sites {
  margin-left: 50px;
}
/* line 136, ../sass/style.scss */
.reveal .sites a {
  color: black;
  background-color: #ecf0f1;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  margin: 5px auto;
  display: block;
  font-size: 17px;
  position: relative;
}
/* line 147, ../sass/style.scss */
.reveal .sites a:after {
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  height: 100%;
  width: 35px;
  text-align: center;
  line-height: 37px;
}
/* line 158, ../sass/style.scss */
.reveal .sites a.visited:after {
  content: "YES";
  background-color: green;
}
/* line 165, ../sass/style.scss */
.reveal .sites a:not(.visited):after {
  content: "NO";
  background-color: red;
}

/* line 178, ../sass/style.scss */
a[number='0'] {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='1'] {
  position: absolute;
  top: 0px;
  left: 55px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='2'] {
  position: absolute;
  top: 0px;
  left: 110px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='3'] {
  position: absolute;
  top: 0px;
  left: 165px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='4'] {
  position: absolute;
  top: 0px;
  left: 220px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='5'] {
  position: absolute;
  top: 0px;
  left: 275px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='6'] {
  position: absolute;
  top: 0px;
  left: 330px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='7'] {
  position: absolute;
  top: 0px;
  left: 385px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='8'] {
  position: absolute;
  top: 0px;
  left: 440px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='9'] {
  position: absolute;
  top: 0px;
  left: 495px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='10'] {
  position: absolute;
  top: 55px;
  left: 0px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='11'] {
  position: absolute;
  top: 55px;
  left: 55px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='12'] {
  position: absolute;
  top: 55px;
  left: 110px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='13'] {
  position: absolute;
  top: 55px;
  left: 165px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='14'] {
  position: absolute;
  top: 55px;
  left: 220px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='15'] {
  position: absolute;
  top: 55px;
  left: 275px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='16'] {
  position: absolute;
  top: 55px;
  left: 330px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='17'] {
  position: absolute;
  top: 55px;
  left: 385px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='18'] {
  position: absolute;
  top: 55px;
  left: 440px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='19'] {
  position: absolute;
  top: 55px;
  left: 495px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='20'] {
  position: absolute;
  top: 110px;
  left: 0px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='21'] {
  position: absolute;
  top: 110px;
  left: 55px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='22'] {
  position: absolute;
  top: 110px;
  left: 110px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='23'] {
  position: absolute;
  top: 110px;
  left: 165px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='24'] {
  position: absolute;
  top: 110px;
  left: 220px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='25'] {
  position: absolute;
  top: 110px;
  left: 275px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='26'] {
  position: absolute;
  top: 110px;
  left: 330px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='27'] {
  position: absolute;
  top: 110px;
  left: 385px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='28'] {
  position: absolute;
  top: 110px;
  left: 440px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='29'] {
  position: absolute;
  top: 110px;
  left: 495px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='30'] {
  position: absolute;
  top: 165px;
  left: 0px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='31'] {
  position: absolute;
  top: 165px;
  left: 55px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='32'] {
  position: absolute;
  top: 165px;
  left: 110px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='33'] {
  position: absolute;
  top: 165px;
  left: 165px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='34'] {
  position: absolute;
  top: 165px;
  left: 220px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='35'] {
  position: absolute;
  top: 165px;
  left: 275px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='36'] {
  position: absolute;
  top: 165px;
  left: 330px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='37'] {
  position: absolute;
  top: 165px;
  left: 385px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='38'] {
  position: absolute;
  top: 165px;
  left: 440px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='39'] {
  position: absolute;
  top: 165px;
  left: 495px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='40'] {
  position: absolute;
  top: 220px;
  left: 0px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='41'] {
  position: absolute;
  top: 220px;
  left: 55px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='42'] {
  position: absolute;
  top: 220px;
  left: 110px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='43'] {
  position: absolute;
  top: 220px;
  left: 165px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='44'] {
  position: absolute;
  top: 220px;
  left: 220px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='45'] {
  position: absolute;
  top: 220px;
  left: 275px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='46'] {
  position: absolute;
  top: 220px;
  left: 330px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='47'] {
  position: absolute;
  top: 220px;
  left: 385px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='48'] {
  position: absolute;
  top: 220px;
  left: 440px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='49'] {
  position: absolute;
  top: 220px;
  left: 495px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='50'] {
  position: absolute;
  top: 275px;
  left: 0px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='51'] {
  position: absolute;
  top: 275px;
  left: 55px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='52'] {
  position: absolute;
  top: 275px;
  left: 110px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='53'] {
  position: absolute;
  top: 275px;
  left: 165px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='54'] {
  position: absolute;
  top: 275px;
  left: 220px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='55'] {
  position: absolute;
  top: 275px;
  left: 275px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='56'] {
  position: absolute;
  top: 275px;
  left: 330px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='57'] {
  position: absolute;
  top: 275px;
  left: 385px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='58'] {
  position: absolute;
  top: 275px;
  left: 440px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='59'] {
  position: absolute;
  top: 275px;
  left: 495px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='60'] {
  position: absolute;
  top: 330px;
  left: 0px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='61'] {
  position: absolute;
  top: 330px;
  left: 55px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='62'] {
  position: absolute;
  top: 330px;
  left: 110px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='63'] {
  position: absolute;
  top: 330px;
  left: 165px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='64'] {
  position: absolute;
  top: 330px;
  left: 220px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='65'] {
  position: absolute;
  top: 330px;
  left: 275px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='66'] {
  position: absolute;
  top: 330px;
  left: 330px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='67'] {
  position: absolute;
  top: 330px;
  left: 385px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='68'] {
  position: absolute;
  top: 330px;
  left: 440px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='69'] {
  position: absolute;
  top: 330px;
  left: 495px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='70'] {
  position: absolute;
  top: 385px;
  left: 0px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='71'] {
  position: absolute;
  top: 385px;
  left: 55px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='72'] {
  position: absolute;
  top: 385px;
  left: 110px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='73'] {
  position: absolute;
  top: 385px;
  left: 165px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='74'] {
  position: absolute;
  top: 385px;
  left: 220px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='75'] {
  position: absolute;
  top: 385px;
  left: 275px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='76'] {
  position: absolute;
  top: 385px;
  left: 330px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='77'] {
  position: absolute;
  top: 385px;
  left: 385px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='78'] {
  position: absolute;
  top: 385px;
  left: 440px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='79'] {
  position: absolute;
  top: 385px;
  left: 495px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='80'] {
  position: absolute;
  top: 440px;
  left: 0px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='81'] {
  position: absolute;
  top: 440px;
  left: 55px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='82'] {
  position: absolute;
  top: 440px;
  left: 110px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='83'] {
  position: absolute;
  top: 440px;
  left: 165px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='84'] {
  position: absolute;
  top: 440px;
  left: 220px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='85'] {
  position: absolute;
  top: 440px;
  left: 275px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='86'] {
  position: absolute;
  top: 440px;
  left: 330px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='87'] {
  position: absolute;
  top: 440px;
  left: 385px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='88'] {
  position: absolute;
  top: 440px;
  left: 440px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='89'] {
  position: absolute;
  top: 440px;
  left: 495px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='90'] {
  position: absolute;
  top: 495px;
  left: 0px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='91'] {
  position: absolute;
  top: 495px;
  left: 55px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='92'] {
  position: absolute;
  top: 495px;
  left: 110px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='93'] {
  position: absolute;
  top: 495px;
  left: 165px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='94'] {
  position: absolute;
  top: 495px;
  left: 220px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='95'] {
  position: absolute;
  top: 495px;
  left: 275px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='96'] {
  position: absolute;
  top: 495px;
  left: 330px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='97'] {
  position: absolute;
  top: 495px;
  left: 385px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='98'] {
  position: absolute;
  top: 495px;
  left: 440px;
  width: 55px;
  height: 55px;
}

/* line 178, ../sass/style.scss */
a[number='99'] {
  position: absolute;
  top: 495px;
  left: 495px;
  width: 55px;
  height: 55px;
}
